/* GENERAL CSS STYLES */

body {
  background: linear-gradient(to right, #b8ddff, #ffc8e8);
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
  color: darkgreen;
}

a {
  text-decoration: none;
}

.main_headers {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  line-height: 1.35em;
}

.main_content {
  border: 0.25em solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.restaraunt_headings {
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

.restaraunt_p {
  text-align: center;
  font-size: 1.5em;
}

.restaraunt_edits {
  padding: 1em;
  margin: 3em;
  border-radius: 2em;
  border: 0.15em solid black;
}
